# Ignore virtual environment
.venv/
.env/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore configuration files
*.env
config.yaml

# Ignore any other files or directories you want
# Example:
# /path/to/unwanted/file_or_directory
Old Files/
Test Files/
Previous Version/

#ignore temp files
*.tmp
temp